<!DOCTYPE html>
<html>
  <head>
  {% load fontawesome %}
    <title>Forum SUPDECO IT</title>
    {% fontawesome_stylesheet %}


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
      integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css"
      integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
      integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
      integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
     <script src="{% static '/js/tinymce/tinymce.min.js' %}"></script>
     <script type="text/javascript" src="{% static '/js/tinymce/custom.js' %}" ></script>
  </head>
<style>
        .custom-toggler.navbar-toggler {
            border-color: rgb(255,255,255);
        }
        .custom-toggler .navbar-toggler-icon {
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
        }

</style>
  <body>
    <nav class="navbar navbar-expand-md fixed-top " style="background: #084561;border-bottom: 3px solid #f8ad32; color : #f2f2f2">
      <div class="container">
        <a href="{% url 'home' %}" class="navbar-brand"><img src="http://enockmambou.net/forum//img/Supdeco.png" style="width:35px; height:35px;" alt="logo"></a>
        <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
          aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a href="{% url 'home' %}" class="nav-link{% if request.resolver_match.view_name == 'home' %} active{% endif %}">Accueil</a>
            </li>

          </ul>
          <ul class="navbar-nav justify-content-end">
            {% load fontawesome %}
            {% if user.is_authenticated %}
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                  {% if user.avatar %}
                    <img src="{{ user.avatar }}" class="rounded-circle align-self-center mr-2" style="width: 32px;">
                  {% else %}
                    <i class="far fa-user-circle fa-lg rounded-circle align-self-center mr-2" style="width: 32px;"></i>
                  {% endif %}
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                  <a href="#" class="dropdown-item-text mb-0" style="color:black !important">{% fontawesome_icon 'user'  %} {{ user.username  }}</a>
                  <div class="dropdown-divider"></div>
                  <a href="#" class="dropdown-item" style="color:black !important">{% fontawesome_icon 'cog'  %} Mes paramètres</a>
                  <div class="dropdown-divider"></div>
                  <a href="{% url 'logout' %}" class="dropdown-item" style="color:black !important">{% fontawesome_icon 'sign-out-alt'  %} Deconnexion</a>
                </div>
              </li>
            {% else %}
              <li class="nav-item">
                <a href="{% url 'login' %}" class="nav-link">Connexion</a>
              </li>
             <li class="nav-item">
                <a href="{% url 'signup' %}" class="nav-link">Inscription</a>
              </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
    <main role="main" class="container">
      {% if errors %}
        {% for error in errors %}
          <div class="alert alert-danger" role="alert">
            <p class="mb-3">{{ error.message }}</p>
            {% if error.debug %}
              <pre class="alert-pre border bg-light p-2"><code>{{ error.debug }}</code></pre>
            {% endif %}
          </div>
        {% endfor %}
      {% endif %}
      {% block content %}{% endblock %}
    </main>
  </body>
</html>
