{% extends "tutorial/base.html" %}
{% block content %}
<div class="alert alert-info" role="alert" style="margin-top:15px">

    <p>Les forums vous permettent de venir poser vos questions aux autres membres mais aussi de s’entraider ou <b>tout simplement de discuter.</b>
        Cela fonctionne également dans l’autre sens: vous pouvez ici aider les autres et proposer des exercices au reste de la communauté.</p>
</div>
{% for categorie in forum_t %}
  <section style="border-bottom: 2px solid #f8ad32; margin-bottom: 15px">
        <h2>{{ categorie.0.categorie_nom }}</h2>
  </section>

  <div class="row" style="padding-bottom: 10px;">
  {% for article in categorie.1 %}
    <div class="col-sm-12 col-md-12 col-lg-4">
      <div class="category-forum">
          <a href="{% url 'categorie' pk=article.pk  %}" class="category-forum__top">
            <div class="row lien_categorie">
              <div class="sm-3 md-3 lg-3"><img src="{{ article.logo_forum.url }}"  width="50px" height="50px"/></div>
              <div class="sm-9 md-3 lg-9" style="word-wrap: break-word; width: 80%; padding-left:5px">
                <div>{{ article.forum_nom }}</div>
                <div class="category-forum__description">{{ article.forum_description }}</div>
              </div>
            </div>
          </a>

        <hr>{% if article.last_post %}
        <a title="{{article.last_post.topic_id.topic_titre}}" href="{% url 'topics' uri=article.id pk=article.last_post.topic_id.id %}" class="category-forum__bottom">

        <strong><span class="category-forum__last-msg">Dernier message :</span></strong>
        <br>

        <div class="category-forum__last-msg-link">
        {{article.last_post.topic_id.topic_titre}}
        </div>
        </a>
        {% else %}
        <div class="category-forum__last-msg-link">
          <strong style="margin-left:5px"><span class="category-forum__last-msg">Aucun message posté </span></strong></div>
        {% endif %}
      </div>


    </div>

  {% endfor %}
  </div>

{% endfor %}

{% endblock %}
