{% extends "tutorial/base.html" %}
{% block content %}
{% load crispy_forms_tags %}
{% load fontawesome %}
<section style="margin-top: 10px;">
    Vous êtes ici : <a href="{% url 'home'  %}"> {% fontawesome_icon 'home' %}</a>
    {% fontawesome_icon 'angle-right'  %} <strong>Modification profil</strong>
    <hr>
</section>
<h1 style="margin-top:15px">Modification profil</h1>

<div class="row">
  <div class="col-sm-">
    <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
        {{ formuser|crispy }}
        {{ form|crispy }}


    <div class="form-group">
      <input type="submit" class="btn btn-success btn-rounded" value="Modifier" name="Connexion" style="background: #f98008; border: solid 1px #ffffff;">
    </div>
  </form>

  </div>
</div>



{% endblock %}
